.contact-content {
    /* height: 395px; */
    height:69.5vh ;
    /* background-color: rgb(233, 233, 245); */
    /* display: flex; */
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

.contact-content::after{
    content: "";
    background-image: url("/img/11.svg");
    position: absolute;
    top: 0;
    /* object-fit: cover; */
    width: 100%;
    height: inherit;
    /* padding: 50px; */
    opacity: 0.15;
    border-radius: 15px;
    z-index: -1;
}

.contect-form{
   
}
