* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    margin-top: 10px;
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:-20px;
}

.nav-left {
    font-size: 25px;
    display: flex;
}

.nav-left span{
    font-size: 30px;
    font-weight: bolder;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0px 30px;
    font-size: 22px;
    font-weight: bold;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.nav-right {}

.content {
    height: 395px;
    /* background-color: rgb(233, 233, 245); */
    display: flex;
    margin-top: 32px;
    /* padding: 9px; */
    position: relative;
    /* background-image: url("/img/11.svg"); */
}

.content::after{
    content: "";
    background-image: url("/img/11.svg");
    position: absolute;
    /* object-fit: cover; */
    width: 100%;
    height: inherit;
    /* padding: 50px; */
    opacity: 0.15;
    border-radius: 15px;
}

.content-left {
    font-family: var(--font3);
    /* width: 50%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.content-right {
    /* width: 50%; */
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 250px;
    border: 2px solid black;
    border-radius: 50%;
}

.home-articles{
    /* margin-top: 25px; */
    background-color:rgb(233, 233, 245);
    padding: 20px;
}

.home-article{
    display: flex;
    margin: 21px;
}

.home-article-content{
    align-self: center;
    padding:25px;
}

.home-article-content a{
    text-decoration: none;
    color:black;
}

.home-article img{
    width: 300px;
}

.footer {
    margin-top: 20px;
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    flex-direction: column;
}

.footer a{
    color:black; 
}