*{
    margin: 0;
    padding: 0;
}
#cont{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}
#clockContainer{
    /* background-color: brown; */
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url("/clock.png");
    background-size: 100%;
    margin: 0 auto;
    border: 2px solid rgb(192, 2, 2);
}

#hour, #minute,#second{
    position:absolute;
    background: rgb(163, 0, 0);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1%;
    height: 27%;
    top: 23.5%;
    left: 49.45%;
    opacity: 0.8;
    /* transform: rotate(45deg); */
    /* display: none; */
}

#minute{
    width: 1%;
    height: 34%;
    top: 16%;
    left: 49.45%;
    opacity: 0.8;
     /* display: none; */
}

#second{
    width:1%;
    height: 40%;
    top:10%;
    left:49.45%;
    opacity: 0.8;
    /* display: none; */
}