*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url("/trees.png");
    background-size: cover;
    position: absolute;
    top:-20vh;
}

.track{
    height: 60vh;
    width: 800vw;
    background-image: url("/track.png");
    /* background-size: cover; */
    background-repeat: repeat-x;
    position:absolute;
    top:68vh;
    animation: carMove linear 50s infinite;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url("/car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left:10vw;
    bottom: 15vh;
    animation: shake linear 3.5s infinite;
}

.wheel{

}

.wheel1 img{
    width: 3.0vw;
    position: relative;
    top: 2.3vw;
    left: 2.49vw;
    animation: wheelRotation linear .6s infinite;
}

.wheel2 img{
    width: 3.1vw;
    position: relative;
    /* position: absolute; */
    top: -0.8vw;
    left: 11.8vw;
    animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
        /* transform: translateY(-1px); */
    }
}